apiVersion: 1

datasources:
  - name: InfluxDB
    type: influxdb
    access: proxy
    url: http://influxdb:8086
    isDefault: true
    jsonData:
      version: Flux
      organization: iot-org
      defaultBucket: sensor-data
      tlsSkipVerify: true
    secureJsonData:
      token: iot-admin-token-12345
    editable: true